@import url('refinery/application.css');
/*  
  Override default refinery application CSS below. 
  Formatting applies to all frontend.
*/

@font-face {
    font-family: "Andale";
    src: url(/Andale-Mono.ttf) format("truetype");
}
h1.font-size-large {
    text-transform: uppercase;
    font-size: 2.20em;
    letter-spacing: 4.99px;
    font-weight: normal;
    line-height: 127%;
    font-family: "Andale", Arial, Tahoma;
    margin: 5px 0;
}
h1.font-size-normal {
    text-transform: uppercase;
    font-size: 2.20em;
    letter-spacing: 4.99px;
    font-weight: normal;
    line-height: 127%;
    font-family: "Andale", Arial, Tahoma;
    margin-top: -14px;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  line-height: 125%;
  background-color: #9a9a94;
}

#page {
  width: 975px;
}
h1 {
  
}
h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  margin: 24px 0px;
}
h2.font-size-small {
  margin: 0;
}
h3 {
  font-size: 11px;
  line-height: 130%;
}
p {
  font-size: 14px;
  line-height: 125%;
}
p.font-size-small {
  font-size: 11px;
  margin-bottom: 5px;
  padding-top: 5px;
}
a img {
  border: none;
}
a:link, a:visited {
  color: #BC4F07;;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  }
a:active, a.active {
  color: #ffffff;
}

.clear {
  clear:both;
  height: 0px;
  overflow: hidden;
}

/* 
  Header styles  -----------------------------------------------------------------------------
*/
#logo {
  margin-top: -2px;
  float: left;
}
#logo-box {
  width: 110px;
  height: 110px;
  background-color: #BC4F07;
  margin: -42px 0px 0px 175px;
}
/* 
  Menu styles  -----------------------------------------------------------------------------
*/
#menu ul {
  list-style: none;
  margin-top: 0px;
  padding: 0px;
  position: relative;
  float: right;
  margin-right: -27px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 9px;
  z-index: 10000;
}

#menu ul li {
  float: left;
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  padding: 5px 17px;
  text-decoration: none;
  color: #000000;
}

#menu ul li.selected a, #menu ul li a:hover {
  color: #fff;
}
/* 
  Sub Menu styles  -----------------------------------------------------------------------------
*/
#submenu ul {
  list-style: none;
  margin-top: -83px;
  margin-left: 295px;
  padding: 0px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 9px;
  float: left;
}

#submenu ul li {
  margin-right: 10px;
  line-height: 175%;
}

#submenu ul li a {
  padding: 0px 10px;
  text-decoration: none;
  color: #fff;
}

#submenu ul li.selected a, #submenu ul li a:hover {
  color: #fff;
  padding-right: 15px;
  background: url(/images/left-arrow.png) no-repeat 100% 75%;
}

/* 
  Body styles  -----------------------------------------------------------------------------
*/
#title_image {
  margin: 20px 0px 10px 505px;
}
#central_image {
  margin: 0px 0px 0px 175px;
}
#central_image p {
  margin: 0;
}
#body_content {
  width: 460px;
  margin: 43px 0px 50px 505px;
  min-height: 125px;
}
#body_content_left {
  width: 460px;
  float: none;
}
#body_content_right {
  float: none;
  margin: 50px 0px 25px 0px;
}
.pull-quote {
  height: 110px;
  margin: 30px 0px;
}
.pull-quote p {
  font-size: 20px;
  padding-top: 20px;
  line-height: 120%;
}
.pull-quote img {
  float: left;
  margin-left: -428px ;
  margin-right: 15px;
}
/* 
  Blog styles  -----------------------------------------------------------------------------
*/
#blog {
  float: left;
  font-family: Verdana, Arial, sans-serif;
  font-family: ;
  background-color: transparent;
  margin: -75px auto 0px auto;
  padding: 20px;
  width: 906px;
  color: #848484;
}
#blog a:link, #blog a:visited {
  color: #ababab;
  text-decoration: none;
}
#blog a:hover {
  color: #666666;
  }
#blog a:active, #blog a.active {
  color: #666666;
}
#blog #cap {
  height: 66px;
  background: url(/images/around-block-background_01.png) no-repeat;
}
#blog #body {
  margin: 0px;
  padding: 0px 21px 0px 40px;
  background: url(/images/around-block-background_02.png) repeat-y;
}
#blog #body #content {
  height: 500px;
  overflow: auto;
}
#blog #toe {
  height: 43px;
  background: url(/images/around-block-background_04.png) no-repeat bottom;
}
#blog-posts {
  width: 625px;
  min-height: 300px;
  overflow: hidden;
  padding-right: 10px;
  border-right: 1px solid #cccccc;
}
#blog .blog_post {
  margin-bottom: 15px;
  border-top: 1px solid #eeeeee;
}
#blog-navigation {
  width: 175px;
  float:right;
}
#blog h1 {
  text-transform: uppercase;
  font-size: 115%;
}
#blog h2 {
  color: #848484;
  font-weight: normal;
  font-size: 10px;
  margin: 10px 0px 0px 0px;
}

#blog ul {
  padding: 0px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 90%;
  margin: 5px 0 10px 0;
}

#blog details {
  font-size: 90%;
}

#blog ul li {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 0px;
  list-style: none;
}
#blog #comments {
  /*margin: 20px 0;*/
}
#blog .field {
  margin: 10px 0;
}

#blog  #rss_feed_subscribe {
  text-transform: uppercase;
  font-size: 10px;
  width: 80px;
  background: url(http://localhost:3000/images/refinerycms-blog/rss-feed.png) no-repeat right;
  display: block;
  padding-left: 0px;
}


/* 
  Inquiries styles  -----------------------------------------------------------------------------
*/
.inquiries {
  width: 435px;
}
.inquiries form label {
    color: #fff;
    float: left;
    width: 75px;
    font-size: 10px;
    text-transform: uppercase;
}
.inquiries form .actions {
    margin-left: 75px;
    margin-top: -5px;
}

.inquiries form input[type=text] {
  width: 353px;
}

.inquiries .required-label {
  float: right;
  color: #fff;
  font-size: 10px;
}

.inquiries form textarea {
  width: 353px;
}

/* 
  Project styles  -----------------------------------------------------------------------------
*/

#project {
  width: 660px;
  background-color: #111111;
  height: 220px;
  overflow: hidden;
}
#project #left, #project #center, #project #right {
  float:left;
  width: 220px;
  height: 220px;
  margin: 0;
}
#project #center {
  background-color: #BC4F07;
}
#project #right {
  cursor: pointer;
}
#project #thumbnails {
  position: absolute;
}
#project #thumbnails-bkd {
  position: absolute;
}
#project .thumbnail {
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  background: transparent;
}

#project .thumbnail-bkd {
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  background-color: #111111;
}

#project .image {
  position: absolute;
  margin-top: -104px;
  margin-left: 20px;
  background-color: #9a9a94;
  padding: 10px;
  z-index: 1000;
}
#project .vertical {
  margin-top: -194px;
  margin-left: 121px;
}
#project .close-button {
  width: 20px; 
  height: 20px; 
  background-color: #696962; 
  position: absolute; 
  right: 10px;
  color: #000;
  text-align: center;
  cursor: pointer;
  padding-top:3px;
}
#project-description {
  background-color: #9a9a94;
  position: absolute;
  font-weight: normal;
  font-size:14px;
  width: 455px;
  margin-left: 330px;
  margin-top: 45px;
}
#left-arrow {
  margin: 0;
  float: left;
  width: 16px;
  margin-left: -21px;
  margin-right: 5px;
}
#right-arrow {
  margin: 0;
  float: right;
  width: 16px;
  margin-right: 120px;
}


/* 
  Footer styles  -----------------------------------------------------------------------------
*/
#footer {
  border-top: 1px solid #BC4F07;
  padding-top: 25px;
  font-size: 10px;
  line-height: 115%;
  color: #696962;
}
#footer #copyright {
  width: 165px;
  float: left;
}
#footer #description {
  margin-left: 175px;
}