<div id='footer_content'>
  <div id='copyright'>
    &copy; <%= Time.now.year -%> <%= RefinerySetting.get(:site_name) %>
  </div>
  <div id='description'>
    Mediterraneo Design Build, is a construction firm in Menlo Park that has served the Bay Area since 1991, working closely with homeowners and architects on more than 150 new residential and major remodeling projects. For years we’ve offered design services in-house. Working this closely with designers has given us insights and working methods few builders can duplicate. It’s this point of difference—the design in our DNA, if you will—that enables us to better understand a homeowner‘s vision and faithfully craft an architect’s design. In the end, building a home is less about assembling materials than it is about joining people and drawing the best out of each of them.
  </div>
</div>
