<div id='header_content'>  
  <div id="logo">
    <%= link_to(image_tag("/images/med-logo.png", :alt => "Mediterraneo Design Build"), "/home--2") %>
    <div id="logo-box"> </div>
  </div>
  
  <%= render :partial => "/shared/menu",
             :locals => {
                :dom_id => 'menu',
                :css => 'menu',
                :collection => @menu_pages,
                :hide_children => true
             } -%>

   <%= render :partial => '/shared/menu',
                :locals => {
                  :dom_id => 'submenu',
                  :css => 'menu',
                  :roots => @menu_pages.reject{|p| p.parent_id != @page.root.id },
                  :collection => @menu_pages.reject{|p| !p.self_and_ancestors.map(&:id).include?(@page.root.id) },
                  :extra_suffix => 'submenu'
                } -%>
    
    <%- if @page.title == "Home" -%>
      <nav id="submenu-home" class="menu clearfix">
        <ul>
          <li class="selected"><a href="#">BUILDING IT TRUE</a></li>
        </ul>
      </nav>
    <%- end -%>
                
</div>
