<% content_for :head_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :head_libraries, javascript_include_tag("jquery-animate-colors") %>
<% content_for :head_libraries, javascript_include_tag("swf") %>

<div id='home'>
  <script language="JavaScript" type="text/javascript">
    function loadHome() {
      jQuery("#body").fadeTo(500, 0.0);
      document.location.href = "/home--2";
    }
  		AC_FL_RunContent(
    		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0',
    		'width', '1100',
    		'height', '688',
    		'src', 'med-intro-As2',
    		'quality', 'high',
    		'pluginspage', 'http://www.adobe.com/go/getflashplayer',
    		'align', 'middle',
    		'play', 'true',
    		'loop', 'true',
    		'scale', 'showall',
    		'wmode', 'opaque',
    		'devicefont', 'false',
    		'id', 'med-intro-As2',
    		'bgcolor', '#BC4F07',
    		'name', 'med-intro-As2',
    		'menu', 'true',
    		'allowFullScreen', 'false',
    		'allowScriptAccess','sameDomain',
    		'movie', '/images/med-intro-As2',
    		'salign', ''
    		); //end AC code
    </script>
    <noscript>
    	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="1100" height="688" id="med-intro-As2" align="middle">
    	<param name="allowScriptAccess" value="sameDomain" />
    	<param name="allowFullScreen" value="false" />
    	<param name="movie" value="/images/med-intro-As2.swf" /><param name="quality" value="high" /><param name="wmode" value="opaque" /><param name="bgcolor" value="#BC4F07" />	<embed src="/images/med-intro-As2.swf" quality="high" wmode="opaque" bgcolor="#BC4F07" width="1100" height="688" name="med-intro-As2" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</object>
    </noscript>
  <%=raw @page[:body] %>
</div>

