<section id='title_image'>
  <%=raw @page[:title_image] %>
</section>
<section id='central_image'>
  <%=raw @page[:central_image] %>
</section>
<section id='body_content'>
  <%=raw @page[:body] %>
</section>
<section id='side_body_content'>
  <%=raw @page[:contact_info] %>
</section>
