<div id="left-arrow">
    <a href="/projects/weiss"><img src="/images/left-arrow-nav.png" /></a>
</div>
<div id="right-arrow">
     <a href="/projects/vontz"><img src="/images/right-arrow-nav.png" /></a>
</div>

<div id="project">
        
  <div id="left"><img src="/images/burkowitz-left.jpg" /></div>
  <div id="center"> </div>
  <div id="right"><img src="/images/burkowitz-right.jpg" /></div>

  <div id="thumbnails-bkd">
    <div class="thumbnail"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail"></div>
    <div class="clear"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail-bkd"></div>
  </div>

  <div id="thumbnails">
    <div class="thumbnail"></div>
    <div id="thumb_1" class="thumbnail"><img src="/images/burkowitz-thumb-image-02.jpg" /></div>
    <div id="thumb_2" class="thumbnail"><img src="/images/burkowitz-thumb-image-03.jpg" /></div>
    <div class="thumbnail"></div>
    <div class="clear"></div>
    <div id="thumb_3" class="thumbnail"><img src="/images/burkowitz-thumb-image-05.jpg" /></div>
    <div class="thumbnail"></div>
    <div id="thumb_4" class="thumbnail"><img src="/images/burkowitz-thumb-image-07.jpg" /></div>
    <div id="thumb_5" class="thumbnail"><img src="/images/burkowitz-thumb-image-08.jpg" /></div>
  </div>

  <div id="image_1" class="image">
    <div class="close-button">X</div>
    <img src="/images/burkowitz-project-image-02.jpg" />
  </div>
  <div id="image_2" class="image">
    <div class="close-button">X</div>
    <img src="/images/burkowitz-project-image-03.jpg" />
  </div>
  <div id="image_3" class="image">
    <div class="close-button">X</div>
    <img src="/images/burkowitz-project-image-05.jpg" />
  </div>
  <div id="image_4" class="image">
    <div class="close-button">X</div>
    <img src="/images/burkowitz-project-image-07.jpg" />
  </div>
  <div id="image_5" class="image">
    <div class="close-button">X</div>
    <img src="/images/burkowitz-project-image-08.jpg" />
  </div>
        
</div>