<div id="left-arrow">
    <a href="/projects/burkowitz"><img src="/images/left-arrow-nav.png" /></a>
</div>
<div id="right-arrow">
     <a href="/projects/baszucki"><img src="/images/right-arrow-nav.png" /></a>
</div>

<div id="project">
        
  <div id="left"><img src="/images/vontz-left.jpg" /></div>
  <div id="center"> </div>
  <div id="right"><img src="/images/vontz-right.jpg" /></div>

  <div id="thumbnails-bkd">
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail-bkd"></div>
    <div class="clear"></div>
    <div class="thumbnail"></div>
    <div class="thumbnail-bkd"></div>
    <div class="thumbnail"></div>
    <div class="thumbnail-bkd"></div>
    <div class="clear"></div>
    <div id="third-row">
      <div class="thumbnail-bkd"></div>
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
    </div>
  </div>

  <div id="thumbnails">
    <div id="thumb_1" class="thumbnail"><img src="/images/vontz-thumb-image-01.jpg" /></div>
    <div class="thumbnail"></div>
    <div id="thumb_2" class="thumbnail"><img src="/images/vontz-thumb-image-03.jpg" /></div>
    <div id="thumb_3" class="thumbnail"><img src="/images/vontz-thumb-image-04.jpg" /></div>
    <div class="clear"></div>
    <div class="thumbnail"></div>
    <div id="thumb_4" class="thumbnail"><img src="/images/vontz-thumb-image-06.jpg" /></div>
    <div class="thumbnail"></div>
    <div id="thumb_5" class="thumbnail"><img src="/images/vontz-thumb-image-08.jpg" /></div>
    <div class="clear"></div>
    <div id="third-row">
      <div id="thumb_0" class="thumbnail"><img src="/images/vontz-thumb-image-00.jpg" /></div>
      <div class="thumbnail"></div>
      <div id="thumb_x" class="thumbnail-box"></div>
    </div>
  </div>

  <div id="image_0" class="image vertical">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-00.jpg" />
  </div>
  <div id="image_1" class="image">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-01.jpg" />
  </div>
  <div id="image_2" class="image">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-03.jpg" />
  </div>
  <div id="image_3" class="image vertical">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-04.jpg" />
  </div>
  <div id="image_4" class="image vertical">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-06.jpg" />
  </div>
  <div id="image_5" class="image vertical">
    <div class="close-button">X</div>
    <img src="/images/vontz-project-image-08.jpg" />
  </div>
        
</div>